body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
}

.header--main {
    text-align: center;
    font-size: 50px;
    color: White;
    font-family: Verdana;
    font-weight: normal;
}

.link--cta {
    text-align: center;
    color: Aquamarine;
    font-size: 16px;
}

.mp4 {
    text-align: center;
}

.travel h2 {
    text-align: center;
    font-family: verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.travel p {
    text-align: center;
    font-family: verdana;
    font-size: 21px;
    color: gray;
}

.img {

    text-align: center;

}

.webp {

    text-align: center;

}

.webp h2 {

    text-align: center;
    font-family: verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;

}

.footer {

    text-align: right;
    color: gray;
    
}