body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
}

/*Headers*/

.header--main {
    text-align: center;
    font-size: 50px;
    color: White;
    font-family: Verdana;
    font-weight: normal;
}

.header--secondary {
    text-align: center;
    font-family: verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.header--subheader {
    text-align: center;
    font-family: verdana;
    font-size: 21px;
    color: gray;
}

/*Links*/

.link--cta {
    text-align: center;
    color: Aquamarine;
    font-size: 16px;
}

.img {
    text-align: center;
}

.webp {
    text-align: center;
}

.note {
    text-align: center;
    font-family: verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.footer {
    text-align: right;
    color: gray;
}